extends layout

block content
  .w3-top
    .w3-bar.w3-teal
      a.w3-bar-item.w3-button(href='/') Início
  br
  .w3-container.w3-margin
    h1= classe.titulo
    .w3-container.w3-margin
        h3 Informação Base
        h6 
          strong Nível: 
          | #{classe.nivel}
        h6 
          strong Status: 
          | #{classe.status}
        h6 
          strong Descrição: 
          | #{classe.descricao} 
        br

        if classe.filhos.length > 0
          h3 Filhos
          ul.w3-ul.w3-hoverable
            each f in classe.filhos
              li
                a(href='/classes/'+f.codigo) #{f.codigo}
                |  - #{f.titulo}

        if classe.nivel == 3
          h3 Termos de Índice
          ul.w3-ul.w3-hoverable
            each ti in termosIndice
              li
                a(href=`/ti#${ti.idTI.split("#")[1]}`) #{ti.termo}
        
        .w3-container.w3-margin
            button.w3-button.w3-teal.w3-large(type='button', id='back', onclick='history.back();', style='margin: 10px') Voltar
            button.w3-button.w3-teal.w3-large(type='button', id='home', onclick='window.location.href="/";', style='margin: 10px') Página Inicial
